.side-bar {
  width: 230px;
  padding-right: 16px;
  box-sizing: border-box;
}

.side-bar__avatar {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  height: auto; 
  width: auto; 
  max-width: 214px; 
  max-height: 214px;
}

.side-bar__name {
  font-size: 26px;
  line-height: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.sb-details {
  padding-top: 15px;
  width: 100%;
  border-top: 1px #e1e4e8 solid;
}

.sb-details__email {
  width: 100%;
  padding-left: 24px;
  padding-top: 4px;
  font-size: 14px;
  color: #24292e;
  line-height: 1.5;
  background-image: url('../img/email-icon-sm.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

