.votations-filter {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px #e1e4e8 solid;
}
.votations-input {
  color: #6a737d;
  width: 100%;
  min-height: 34px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #6CC0E5;
  background: transparent;
  border-radius: 3px;
}
.votations-select {
  border: 1px solid #6CC0E5;
  background: transparent;
  border-radius: 3px;
  width: auto;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  height: 34px;
}
.votations-btn {
  padding: 7px;
  margin-left: 16px;
  color: #6CC0E5;
  border: 1px solid #6CC0E5;
  border-radius: 3px;
  text-decoration: none;
  user-select: none;
  display: inline-block;
}
.votations-btn:hover {
  color: white;
  background-color: #6CC0E5;
}
/*.search-box {
  padding-right: 24px;
  width: 99%;
  display: table-cell;
  white-space: nowrap;
}*/
.filter {
  display: table-cell;
  width: 1%;
  position: relative;
  white-space: nowrap;
}