.votations-filter { /*./components/_votations-filter.css*/
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px #e1e4e8 solid;
}

.votations-filter__sb-wrapper {
  padding-right: 24px;
  width: 99%;
  display: table-cell;
  white-space: nowrap;
}
.votations-filter__controls-wrapper {
  display: table-cell;
  width: 1%;
  position: relative;
  white-space: nowrap;
}

.sb { 
  width: 100%;
  min-height: 34px;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  padding-left: 25px;
  border: 1px solid #6CC0E5;
  background-color: #fff;
  background-image: url('../img/search-icon-sm.png');
  background-repeat: no-repeat;
  background-position: 5px 5px;
}